services:
  # source https://prometheus.io/docs/prometheus/latest/installation/
  prometheus:
    image: prom/prometheus
    user: root
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    container_name: prometheus
    restart: always
    ports:
      - 9090:9090
